[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendor/volk"]
	path = vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Examples/vendor/imgui"]
	path = Examples/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Examples/vendor/cgltf"]
	path = Examples/vendor/cgltf
	url = https://github.com/jkuhlmann/cgltf
